<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.projecther.refresh</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone for voice interaction.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We use speech recognition to transcribe your voice commands.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>harshit.projectHer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>my-ai-app</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
